@import url('https://fonts.googleapis.com/css?family=Hind|Vollkorn');

main {
    min-height: 80%;
}

.hide {
    display: none;
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 36px;
    color: #60D080;
    text-align: center;
    display: block;
}

h2 {
    margin-left: 20px;
}

.title {
    font-family: 'Vollkorn', "Times New Roman", serif;
}

body {
    font-family: 'Hind', Arial, sans-serif;
    background-color: #102528;
    /*    display: flex;*/
    margin: auto;
    color: darkseagreen;
}


html,
body {
    height: 100%;
    margin: 0;
}

main {
    min-height: 100%
}

.attribution {
    display: block;
    margin: auto;
    width: auto;
    height: 50px;
    margin-top: -150px;
}

.attribution img {
    width: 100px;
    height: auto;
}

footer {
    display: block;
    margin: auto;
    text-align: center;
    color: mediumseagreen;
    margin-bottom: 10px;
}

/*
.wrapper {
    min-height: 100%;
    position: relative;
margin-bottom: -40px;
    padding-bottom: 40px;
}

footer {
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;

    color: mediumseagreen;
    text-align: center;
}
*/

.iconic-property-stroke,
.iconic-property-fill {
    /*
    fill: #345;
    stroke: #269
*/
    fill: #AAA;
    stroke: #60D080;
}


/*Add this class to the recommend and search results content sections in HTML*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.inline {
    margin: auto;
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

.back-button {
    height: 2rem;
    width: 2rem;
    cursor: pointer;

    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    
    transform: scaleX(-1);
}

.modalButton {
    height: 2rem;
    width: 2rem;
    cursor: pointer;

    padding-right: 2px;

    display: inline-block;
    vertical-align: middle;
}

#search-input {
    font-size: 18px;
    width: 150px;
    height: 30px;
    background: #fcfcfc;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
    -webkit-transition: width 1s;
    transition: width 1s;
}

.search-input {
    display: inline-block;
    vertical-align: middle;

}

#search-input:focus {
    width: 200px;

}

.search-button {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    padding-left: 2px;

    display: inline-block;
    vertical-align: middle;
}


.videoCard {
    width: 50rem;
    height: auto;
    margin: 1rem auto;
    /*    background-color: #223344;*/
    background-color: #466;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 5px;
}

.videoCard:hover {
    transform: scale(1.05);
}

.imageSection {
    float: left;
    width: 12rem;
    height: 17rem;
    margin-right: 1rem;
    overflow: hidden;
}

/*select only the images that are direct descendants of .imageSection*/
.imageSection > img {
    height: 17rem;
    margin-right: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.modal {
    position: fixed;
    width: 500px;
    height: 280px;
    z-index: 200;
    top: calc((100% - 280px)/2);
    left: calc((100% - 500px)/2);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #555;
    background-color: #eee;
}

/* use these class names to show or hide the overlay and modal window */
.show {
    display: block;
}

.hide {
    display: none;
}

.off {
    transform: translateY(-400%);
}

.on {
    transform: translateY(0);
}

.cancelButton,
.saveButton {
    width: 120px;
    position: absolute;
    border: none;
    background-color: orange;
    color: white;
    cursor: pointer;
    padding: 0.25rem 2rem;
    font-size: 1rem;
}

.saveButton {
    bottom: 1rem;
    right: 4rem;
}

.cancelButton {
    bottom: 1rem;
    left: 4rem;
}

.modal-header {
    padding: 2px 16px;
    background-color: orange;
    color: white;
    text-align: center;
}

.modal-radio {
    text-align: center;
    margin-top: 4rem;
}






@media only screen and (min-width: 768px) {

    .hide-footer {
        display: none;
    }


    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;

    }

    /*     For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}
